.root{
    margin: 20px
}

.img{
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;

    border-radius: 100px;
}

.uploadIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100px;
    height: 100px;

    border-radius: 50px;

    cursor: pointer;
    background-color: gainsboro; 
}