.rating {
	display: flex;
	justify-content: center;
	align-items: center;
}

.star {
	font-size: 2rem;
	color: grey;
	background: none;
	border: none;
	cursor: pointer;
	transition: color 0.2s;
}

.star.filled {
	color: gold;
}
